<h1>行情对比</h1>

  <table class="table">
    <thead>
     <tr>
        <th>名称</th>
        <th>云币价格</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td>zec</td>
          <td><%= @zec_yunbi %></td>
          <td><%= @usdt_zec %></td>
        </tr>

        <tr>
          <td>etc</td>
          <td><%= @etc_yunbi %></td>
          <td><%= @usdt_etc %></td>
        </tr>

        <tr>
          <td>eth</td>
          <td><%= @eth_yunbi %></td>
          <td><%= @usdt_eth %></td>
        </tr>

        <tr>
          <td>sc</td>
          <td><%= @sc_yunbi %></td>
          <td><%= @usdt_sc %></td>
        </tr>

    </tbody>
  </table>
