<script   language= "JavaScript">
window.location.reload(true);
</script>
<script> setTimeout( "location.href= 'url ' ",2000) </script>

<h1>行情对比</h1>

  <table class="table">
    <thead>
     <tr>
        <th>名称</th>
        <th>云币价格</th>
        <th>P网价格</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td>zec</td>
          <td><%= @zec_yunbi %></td>
          <td><%= @usdt_zec.to_f  %></td>
        </tr>

        <tr>
          <td>etc</td>
          <td><%= @etc_yunbi %></td>
          <td><%= @usdt_etc .to_f  %></td>
        </tr>

        <tr>
          <td>eth</td>
          <td><%= @eth_yunbi %></td>
          <td><%= @usdt_eth .to_f  %></td>
        </tr>

        <tr>
          <td>sc</td>
          <td><%= @sc_yunbi %></td>
          <td><%= @usdt_sc .to_f %></td>
        </tr>

        <tr>
          <td>btc</td>
          <td><%= @btc_yunbi %></td>
          <td><%= @usdt_btc .to_f  %></td>
        </tr>

        <tr>
          <td>btc</td>
          <td><%= @eos_yunbi %></td>
          <td></td>
        </tr>


    </tbody>
  </table>
