

<h1>行情对比</h1>

  <table class="table">
    <thead>
     <tr>
        <th>名称</th>

        <th>P网价格</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <td>zec</td>

          <td><%= @cnydt_zec.to_f  %></td>
        </tr>

        <tr>
          <td>etc</td>

          <td><%= @cnydt_etc .to_f  %></td>
        </tr>

        <tr>
          <td>eth</td>

          <td><%= @cnydt_eth .to_f  %></td>
        </tr>

        <tr>
          <td>sc</td>

          <td><%= @cnydt_sc .to_f %></td>
        </tr>

        <tr>
          <td>btc</td>

          <td><%= @cnydt_btc .to_f  %></td>
        </tr>

        <tr>
          <td>eos</td>
          <td></td>

        </tr>


    </tbody>
  </table>
